/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Sep 2020, 11:21:02 am
    Author     : kahow
*/


/* Darker background on mouse-over */


body {
    background-color: powderblue;
}

/*img {
    display: block;
    max-width:400px;
    max-height:100px;
    width: auto;
    height: auto;
}*/

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 50px;
    padding:1px;
    border-top:1px solid #021a40;
}

.product-item {
    float: left;
    background: #F0F0F0;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
}


.product-image {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.product-tile-footer{
    overflow: auto;
}

.product-price {
    color: grey;
    font-size: 16px;
}

.plus-minus-input {
    align-items: center;

    .input-group-field {
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 1rem;

        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
            appearance: none;
        }
    }

    .input-group-button {
        .circle {
            border-radius: 50%;
            padding: 0.25em 0.8em;
        }
    }
}

add-to-cart{
    position: absolute;
    right: 0px;
}

.icon-bar {
    float: right;
    text-align: center;

}

.fa {
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 25px;
}

.fa-twitter,
.fa-facebook,
.fa-instagram{
    margin-top: .625em;
    width: 40px;
    height: 40px;
    opacity: .6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 25px;
}

.fa-twitter:hover,
.fa-facebook:hover,
.fa-instagram:hover{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.img-thumbnail{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*{box-sizing: border-box;}*/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

