/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Sep 2020, 11:21:02 am
    Author     : kahow
*/


/* Darker background on mouse-over */


body {
    background-color: powderblue;
}

/*img {
    display: block;
    max-width:400px;
    max-height:100px;
    width: auto;
    height: auto;
}*/

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: 50px;
    padding:1px;
    border-top:1px solid #021a40;
}

.product-item {
    float: left;
    background: #F0F0F0;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
}



.product-image {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.product-price {
    color: grey;
    font-size: 16px;
}

.cart-action {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
